<footer class="footer footer--center">
  <a href="{include_path}/home">
    <img
      src="{include_path}/public/assets/imgs/logo.svg"
      alt="logo"
      class="logo"
    />
  </a>
</footer>

<button id="btnTopo" class="btn__top" onclick="voltarAoTopo()">
  <i class="fa-solid fa-arrow-up"></i>
</button>
<script>
  // Seleciona o botão de voltar ao topo
  const btnTopo = document.getElementById("btnTopo");

  // Exibe o botão quando o usuário rolar para baixo
  window.onscroll = function () {
    if (
      document.body.scrollTop > 20 ||
      document.documentElement.scrollTop > 20
    ) {
      btnTopo.style.display = "block";
    } else {
      btnTopo.style.display = "none";
    }
  };

  // Função para voltar ao topo da página
  function voltarAoTopo() {
    document.body.scrollTop = 0; // Para Safari
    document.documentElement.scrollTop = 0; // Para outros navegadores
  }
</script>
