<header class="header">

	<figure>
		<a href="{include_path}/home">
			<img src="{include_path}/public/assets/imgs/logo.svg" alt="logo" class="logo">
		</a>
	</figure>

	<nav class="navbar">

		<a href="{include_path}/home" class="navbar__link {inicio}">Início</a>
		<a href="{include_path}/blog" class="navbar__link {blog}">Blog</a>
		<a href="{include_path}/about" class="navbar__link {about}">Sobre nós</a>
		
	</nav>

	<nav class="header__navbar">

		<a href="{include_path}/login" class="btn">Entrar</a>
		<a href="{include_path}/sigin" class="btn btn--outline">Cadastre-se</a>

	</nav>
	
</header>