<header class="header">

	<figure>
		<a href="{include_path}/home">
			<img src="{include_path}/public/assets/imgs/logo.svg" alt="logo" class="logo">
		</a>
	</figure>

	<div></div>
  
	<nav class="perfil">

		<img src="{include_path}/public/assets/imgs/profile/{user_img}" class="perfil__img">

		<ul class="perfil__links" >

			<li>
				<a href="{include_path}/admin/profile" class="perfil__link">
					Editar perfil
				</a>
			</li>
			<li>
				<a href="{include_path}/logout" class="perfil__link--warning">
					Sair
				</a>
			</li>
			
		</ul>
		
	</nav>
	
</header>