<header class="header">

	<figure>
		<a href="{include_path}/home">
			<img src="{include_path}/public/assets/imgs/logo.svg" alt="logo" class="logo">
		</a>
	</figure>

  <div></div>

	<nav class="navbar">

		<a href="{include_path}/common" class="navbar__link {inicio}">Postagens mais visualizadas</a>
		<a href="{include_path}/common/recentes" class="navbar__link {recentes}">Postagens recentes</a>
		<a href="{include_path}/common/criar" class="navbar__link {criar_postagem}">Criar postagem</a>
		
	</nav>

</header>