<dialog id="disable" class="modal">
  <span class="modal__close" data-close="close"
    ><i class="fa-solid fa-close"></i
  ></span>

  <header class="modal__header">Desativar conta</header>

  <main class="modal__container">
    <p>
      Ao clicar em <span class="text--bold">'confirmar'</span> você confirma que
      estará desativando sua conta
    </p>
    <section class="column-2">
      <button class="btn btn--radius-none btn--warning" data-close="close">
        Cancelar
      </button>
      <button id="confirm" class="btn btn--radius-none">Confirmar</button>
    </section>
  </main>
</dialog>
