<span
  onclick="ocultar({postId})"
  class="btn btn--warning btn--radius-none w-100"
>
  Ocultar postagem
</span>
<script>
  function ocultar(post_id) {
    const id = post_id;

    const ajax = new XMLHttpRequest();

    ajax.onload = () => {
      if (ajax.status == 202) {
        createModal(
          true,
          "Postagem ocultada. Você pode desocultar clicando em: Desocultar postagem.",
          "{include_path}/common/publishs"
        );
      } else {
        createModal(
          false,
          "Erro: Não foi possível ocultar sua postagem",
          "{include_path}/common/publishs"
        );
      }
    };

    ajax.open("POST", "{include_path}/api/post/occult", true);
    ajax.send(JSON.stringify({ postId: id }));
    return false;
  }
</script>
