<link
  href="{include_path}/public/assets/icons/css/fontawesome.css"
  rel="stylesheet"
/>
<link
  href="{include_path}/public/assets/icons/css/brands.css"
  rel="stylesheet"
/>
<link
  href="{include_path}/public/assets/icons/css/solid.css"
  rel="stylesheet"
/>
<link rel="stylesheet" href="{include_path}/public/assets/styles/style.css" />
<link
  rel="stylesheet"
  href="{include_path}/public/assets/styles/components.css"
/>
<link rel="stylesheet" href="{include_path}/public/assets/styles/header.css" />
<link rel="stylesheet" href="{include_path}/public/assets/styles/navbar.css" />
<link
  rel="stylesheet"
  href="{include_path}/public/assets/styles/container.css"
/>
<link rel="stylesheet" href="{include_path}/public/assets/styles/column.css" />
<link
  rel="stylesheet"
  href="{include_path}/public/assets/styles/background.css"
/>
<link rel="stylesheet" href="{include_path}/public/assets/styles/modal.css" />
<link rel="stylesheet" href="{include_path}/public/assets/styles/form.css" />
<link rel="stylesheet" href="{include_path}/public/assets/styles/text.css" />
<link rel="stylesheet" href="{include_path}/public/assets/styles/card.css" />
<link rel="stylesheet" href="{include_path}/public/assets/styles/post.css" />
<link rel="stylesheet" href="{include_path}/public/assets/styles/footer.css" />
