<span
  onclick="ativar({postId})"
  class="btn btn--radius-none w-100"
>
  Reativar postagem
</span>
<script>
  function ativar(post_id) {
    const id = post_id;

    const ajax = new XMLHttpRequest();

    ajax.onload = () => {
      if (ajax.status == 202) {
        createModal(
          true,
          "Postagem desocultada. Você pode desativar sua postagem clicando em: Desativar postagem.",
          "{include_path}/common/publishs"
        );
      } else {
        createModal(
          false,
          "Erro: Não foi possível ativar sua postagem",
          "{include_path}/common/publishs"
        );
      }
    };

    ajax.open("POST", "{include_path}/api/post/unhide", true);
    ajax.send(JSON.stringify({ postId: id }));
    return false;
  }
</script>
