<span
  onclick="desocultar({postId})"
  class="btn btn--radius-none w-100"
>
  Desocultar postagem
</span>
<script>
  function desocultar(post_id) {
    const id = post_id;

    const ajax = new XMLHttpRequest();

    ajax.onload = () => {
      if (ajax.status == 202) {
        createModal(
          true,
          "Postagem desocultada. Você pode ocultar clicando em: Ocultar postagem.",
          "{include_path}/common/publishs"
        );
      } else {
        createModal(
          false,
          "Erro: Não foi possível desocultar sua postagem",
          "{include_path}/common/publishs"
        );
      }
    };

    ajax.open("POST", "{include_path}/api/post/unhide", true);
    ajax.send(JSON.stringify({ postId: id }));
    return false;
  }
</script>
