<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog autismo</title>
    {script_style}
  </head>

  <body>
    {component_header}

    <main class="container">
      <section class="container__center text">
        <h1 class="title--1 text--center">Sobre nós</h1>

        <p>
          [Nome do seu blog] é um espaço dedicado a conectar pessoas que se
          preocupam com o desenvolvimento e bem-estar de crianças com autismo.
          Acreditamos que compartilhar experiências, informações e recursos de
          qualidade é fundamental para promover a inclusão e o desenvolvimento
          pleno dessas crianças.
        </p>

        <p>
          Nossa missão é ser um farol de esperança e conhecimento para famílias,
          educadores e profissionais que trabalham com autismo. Queremos
          oferecer um ambiente seguro e acolhedor para que todos possam
          compartilhar suas histórias, dúvidas e conquistas.
        </p>

        <p class="text--bold">Para quem é este blog:</p>

        <p>
          <span class="text--bold">Responsáveis:</span> Pais, mães, avós e cuidadores que buscam informações,
          dicas e apoio para criar um ambiente mais acphedor e estimulante para
          seus filhos.
        </p>
        <p>
          <span class="text--bold">Professores:</span> Profissionais da educação que desejam aprimorar suas
          práticas pedagógicas e oferecer um ensino inclusivo e de qualidade
          para seus alunos com autismo.
        </p>
        <p>
          <span class="text--bold">Auxiliares:</span> Profissionais que atuam em parceria com os professores,
          oferecendo suporte individualizado às crianças com autismo.
        </p>

        <p>
          Juntos, podemos construir um mundo mais inclusivo e compreensivo para as crianças com autismo.
        </p>

      </section>
    </main>

    {component_footer}
  </body>
</html>
