<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog autismo</title>
    {script_style}
</head>
<body>

    {component_header}

    <main class="container bg--light container--vertical-center">

        <section class="column-1 column--horizontal-center column--vertical-center">

            <h1 class="title--1">Página não encontrada!</h1>

            <p>
                Volte para a página inícial clicando <a href="{include_path}/home" class="link">aqui</a>.
            </p>
            
        </section>
        
    </main>
    
    {component_footer}
    
</body>
</html>