<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog autismo</title>
  {script_style}
</head>
<body>

  {component_header}

  <main class="container bg--light">

    <section class="column-2">

      <aside class="column--vertical-center column__text">

        <h1 class="title--1">Você não está sozinho(a)! ❤️</h1>

        <section class="text">

          <p>
            Nesta jornada, queremos te oferecer apoio, informação e inspiração. Nossa plataforma é um espaço para compartilhar histórias, celebrar conquistas e trocar experiências com outras famílias que enfrentam desafios semelhantes.
          </p>

          <p>
            Juntos, podemos transformar o mundo em um lugar mais inclusivo e acolhedor para todas as crianças.
          </p>
          
        </section>

        <a href="{include_path}/sigin" class="btn w-100">Fazer parte</a>
        
      </aside>

      <img src="{include_path}/public/assets/imgs/home__image.jpg" alt="Menino olhando para o lado direito superior" class="column__image">
      
    </section>

    <section class="column-2 column-2--reverse column__text">

      <section class="column-2">

        <section class="card text--center card--vertical-center">

          <p>Docentes</p>

          <i class="fa-solid fa-graduation-cap"></i>  

        </section>
        <section class="card text--center card--vertical-center">

          <p>Responsáveis</p>

          <i class="fa-solid fa-person-breastfeeding"></i>

        </section>
        
      </section>

      <section class="column--vertical-center">

        <h2 class="title--2">Uma comunidade que aprende e cresce junta!</h2>

        <section class="text">

          <p>
            Nossa plataforma é um espaço para que docentes e responsáveis possam compartilhar suas experiências e criar conteúdos exclusivos. Queremos te dar voz e te empoderar para que você possa contribuir ativamente para a educação de crianças com autismo.
          </p>
          
        </section>

      </section>
      
    </section>
    
  </main>

  {component_footer}
  
</body>
</html>