<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog autismo</title>
    {script_style}
  </head>

  <body>
    {component_header}

    <main class="container">

      <nav class="breadcumbs">
        <a href="{include_path}/blog">Caminho</a>
        <p>Título</p>
      </nav>
      
      <section class="container__center text">

        <h1 class="title--1 text--center title--margin-none">Título da postagem</h1>

        <section class="author">
          <img src="#" class="author__img">
          <p class="author__name">Author</p>
        </section>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias ipsa
          explicabo quibusdam culpa. Facilis ipsam voluptatum corporis fuga
          aliquam praesentium alias nam temporibus magni, sint totam commodi? Rem
          aperiam odit blanditiis explicabo, suscipit ab in ullam voluptatibus
          quis, obcaecati doloremque aspernatur aliquid dolorum quae ratione
          repudiandae nemo libero optio omnis?
        </p>
  
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias ipsa
          explicabo quibusdam culpa. Facilis ipsam voluptatum corporis fuga
          aliquam praesentium alias nam temporibus magni, sint totam commodi? Rem
          aperiam odit blanditiis explicabo, suscipit ab in ullam voluptatibus
          quis, obcaecati doloremque aspernatur aliquid dolorum quae ratione
          repudiandae nemo libero optio omnis?
        </p>
  
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias ipsa
          explicabo quibusdam culpa. Facilis ipsam voluptatum corporis fuga
          aliquam praesentium alias nam temporibus magni, sint totam commodi? Rem
          aperiam odit blanditiis explicabo, suscipit ab in ullam voluptatibus
          quis, obcaecati doloremque aspernatur aliquid dolorum quae ratione
          repudiandae nemo libero optio omnis?
        </p>
  
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias ipsa
          explicabo quibusdam culpa. Facilis ipsam voluptatum corporis fuga
          aliquam praesentium alias nam temporibus magni, sint totam commodi? Rem
          aperiam odit blanditiis explicabo, suscipit ab in ullam voluptatibus
          quis, obcaecati doloremque aspernatur aliquid dolorum quae ratione
          repudiandae nemo libero optio omnis?
        </p>
  
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias ipsa
          explicabo quibusdam culpa. Facilis ipsam voluptatum corporis fuga
          aliquam praesentium alias nam temporibus magni, sint totam commodi? Rem
          aperiam odit blanditiis explicabo, suscipit ab in ullam voluptatibus
          quis, obcaecati doloremque aspernatur aliquid dolorum quae ratione
          repudiandae nemo libero optio omnis?
        </p>
  
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias ipsa
          explicabo quibusdam culpa. Facilis ipsam voluptatum corporis fuga
          aliquam praesentium alias nam temporibus magni, sint totam commodi? Rem
          aperiam odit blanditiis explicabo, suscipit ab in ullam voluptatibus
          quis, obcaecati doloremque aspernatur aliquid dolorum quae ratione
          repudiandae nemo libero optio omnis?
        </p>
  
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias ipsa
          explicabo quibusdam culpa. Facilis ipsam voluptatum corporis fuga
          aliquam praesentium alias nam temporibus magni, sint totam commodi? Rem
          aperiam odit blanditiis explicabo, suscipit ab in ullam voluptatibus
          quis, obcaecati doloremque aspernatur aliquid dolorum quae ratione
          repudiandae nemo libero optio omnis?
        </p>
  
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias ipsa
          explicabo quibusdam culpa. Facilis ipsam voluptatum corporis fuga
          aliquam praesentium alias nam temporibus magni, sint totam commodi? Rem
          aperiam odit blanditiis explicabo, suscipit ab in ullam voluptatibus
          quis, obcaecati doloremque aspernatur aliquid dolorum quae ratione
          repudiandae nemo libero optio omnis?
        </p>
  
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias ipsa
          explicabo quibusdam culpa. Facilis ipsam voluptatum corporis fuga
          aliquam praesentium alias nam temporibus magni, sint totam commodi? Rem
          aperiam odit blanditiis explicabo, suscipit ab in ullam voluptatibus
          quis, obcaecati doloremque aspernatur aliquid dolorum quae ratione
          repudiandae nemo libero optio omnis?
        </p>

        <section class="tags">
          <span class="tags__tag">Responsável</span>
          <span class="tags__tag">Dicas</span>
        </section>

      </section>

    </main>

    {component_footer}
  </body>
</html>
