<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog autismo</title>
    {script_style}
  </head>

  <body>
    {component_header}

    <main class="container">

      <nav class="breadcumbs">
        <a href="{include_path}/home">Início</a>
        <a href="{include_path}/blog">Blog</a>
        <p>{title}</p>
      </nav>
      
      <section class="container__center text">

        <h1 class="title--1 text--center title--margin-none">{title}</h1>

        <section class="author">
          <img src="{include_path}/public/assets/imgs/profile/{author_img}" class="author__img">
          <p class="author__name">{author} - {type}</p>
        </section>

        {content}

      </section>

    </main>

    {component_footer}
  </body>
</html>
