<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog autismo</title>
    <link rel="stylesheet" href="{include_path}/public/assets/styles/admin.css" />
    {script_style}
  </head>
  <body>
    {component_header}

    <main class="flex--row">
      {component_navbar}
      <section class="container">
        <section class="column-2">
          <aside class="column--vertical-center column__text">
            <h1 class="title--1">Bem-vindo à página de administrador!</h1>

            <section class="text">
              <p>
                O sistema oferece aos usuários a funcionalidade de revisar postagens de maneira prática e eficiente. Com essa ferramenta, é possível garantir que o conteúdo publicado esteja de acordo com os padrões estabelecidos e livre de erros. A funcionalidade de revisão proporciona maior controle sobre a qualidade das postagens, permitindo que edições ou aprovações sejam realizadas antes da publicação final.
              </p>

              <p>
                Para facilitar a gestão do sistema, os administradores podem adicionar novos administradores à plataforma. Esse recurso é essencial para distribuir responsabilidades e assegurar que diferentes áreas sejam gerenciadas por profissionais capacitados. A adição de administradores é simples e pode ser feita diretamente na interface do sistema.
              </p>
            </section>

          </aside>

          <img
            src="{include_path}/public/assets/imgs/home__image.jpg"
            alt="Menino olhando para o lado direito superior"
            class="column__image"
          />
        </section>
      </section>
    </main>

    {component_footer}
  </body>
</html>
