<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog autismo</title>
    <link rel="stylesheet" href="{include_path}/public/assets/styles/admin.css" />
    {script_style}
    <!-- editor de texto -->
    <link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/43.3.0/ckeditor5.css">
    <script type="importmap">
        {
          "imports": {
              "ckeditor5": "https://cdn.ckeditor.com/ckeditor5/43.3.0/ckeditor5.js",
              "ckeditor5/": "https://cdn.ckeditor.com/ckeditor5/43.3.0/"
            }
        }
    </script>
    <!-- fim do editor de texto -->
  </head>
  <body>
    {component_header}

    <main class="flex--row">
      {component_navbar}
      <section class="container">
        <nav class="breadcumbs">
            <a href="{include_path}/admin/review">Revisar postagens</a>
            <p>
                {title}
            </p>
        </nav>

        <section>
            <h2 class="title--2">{title}</h2>
            
            <section class="column-2">

                <section class="text">

                    <section class="author">
                      <img src="#" class="author__img">
                      <p class="author__name">{author}</p>
                    </section>
            
                    {content}
            
                  </section>

                <form id="aprove_form" onsubmit="return false;" class="box">

                  <input type="hidden" name="id" value="{id}" id="post_id">

                    <button onclick="aprovar()" class="btn btn--radius-none w-100">Aprovar</button>

                    <section id="content" class="form__box">
                        <label class="form__label" for="#">Correções</label>
              
                        <section>
                          <textarea name="#" id="editor" class="form__textarea" placeholder="Escreva as sugestões"></textarea>
                        </section>
              
                        <span class="error"></span>
                      </section>
                    
                    <button type="submit" name="reprovar" onclick="reprovar()" class="btn--warning btn--radius-none w-100">Reprovar</button>
                    
                </form>
                
            </section>
        </section>
        
      </section>
    </main>

    {component_footer}

    <script>
      function aprovar() {

        const postId = { postId: document.getElementById("post_id").value};
        
        const ajax = new XMLHttpRequest();

        ajax.onload = () => {
          if ( ajax.status == 202 ) {
            window.location.href = "{include_path}/admin/review";
          }
        }

        ajax.open("POST","{include_path}/api/admin/aprove",true);
        ajax.send(JSON.stringify(postId));
        
      }
    </script>

    <script type="module">
        import {
          ClassicEditor,
          Essentials,
          Bold,
          Italic,
          Heading,
          PasteFromOffice
        } from 'ckeditor5';
      
        ClassicEditor
          .create(document.querySelector('#editor'), {
            plugins: [Essentials, Bold, Italic, Heading,PasteFromOffice],
            toolbar: [
              'heading','bold', 'italic'
            ],
            heading: {
              options: [
                  { model: 'paragraph', title: 'Parágrafo', class: 'ck-heading_paragraph' },
                  { model: 'heading1', view: 'h1', title: 'Título 1', class: 'ck-heading_heading1' },
                  { model: 'heading2', view: 'h2', title: 'Título 2', class: 'ck-heading_heading2' },
              ]
          }
          })
          .then( /* ... */)
          .catch( /* ... */);
    </script>
  </body>
</html>
