<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog autismo</title>
    {script_style}
    <!-- editor de texto -->
    <link
      rel="stylesheet"
      href="https://cdn.ckeditor.com/ckeditor5/43.3.0/ckeditor5.css"
    />
    <script type="importmap">
      {
        "imports": {
          "ckeditor5": "https://cdn.ckeditor.com/ckeditor5/43.3.0/ckeditor5.js",
          "ckeditor5/": "https://cdn.ckeditor.com/ckeditor5/43.3.0/"
        }
      }
    </script>
    <!-- fim do editor de texto -->
  </head>
  <body>
    {component_header}

    <main class="container bg--gray">
        <nav class="breadcumbs">
            <a href="{include_path}/common/publishs">Minhas postagens</a>
            <p>Editar postagem</p>
        </nav>
      <section class="column-1 form form--large">
        <form
          action="#"
          method="POST"
          id="post"
          onsubmit="editarPostagem();return false;"
          class="box"
        >
          <h1 class="title--2">Editar postagem</h1>

          <input type="hidden" value="{postId}" id="postId" />

          <section id="title" class="form__box">
            <label class="form__label" for="#">Título da postagem</label>

            <input
              type="text"
              name="#"
              id="#"
              class="form__input"
              placeholder="Título da postagem"
              value="{title}"
            />

            <span class="error"></span>
          </section>
          <section id="content" class="form__box">
            <label class="form__label" for="#">Postagem</label>

            <section class="form__textarea">
              <textarea
                name="#"
                id="editor"
                class="form__textarea"
                placeholder="Escreva a sua postagem ou copie e cole o conteúdo de um documento já editado!"
              >{content}</textarea>
            </section>

            <span class="error"></span>
          </section>

          <section id="tags" class="form__box">
            <p class="form__label">Tags</p>
  
            <section class="column-2">
              <label class="checkbox">
                <input type="checkbox" name="tags" id="#" value="Dica" {dica} />
                Dica(s)
              </label>
              <label class="checkbox">
                <input type="checkbox" name="tags" id="#" value="Pedagogia" {peda} />
                Pedagogia
              </label>
              <label class="checkbox">
                <input type="checkbox" name="tags" id="#" value="Comportamento" {comp} />
                Comportamento(s)
              </label>
              <label class="checkbox">
                <input type="checkbox" name="tags" id="#" value="Relato" {rela} />
                Relato(s)
              </label>
              <label class="checkbox">
                <input type="checkbox" name="tags" id="#" value="Comunicação" {comu} />
                Comunicação
              </label>
            </section>
  
            <span id="tags" class="error"></span>
          </section>

          {active_attemption}

          <button type="submit" class="btn btn--radius-none w-100">
            Editar
          </button>

          {active_button}

        </form>
      </section>
    </main>

    {component_footer}

    <script src="{include_path}/public/assets/scripts/createModal.js"></script>
    <script>

      function editarPostagem()
      {

        
        const post = {};
        
        const title = document.getElementById("title");
        const content = document.getElementById("content");
        const select_tags = document.querySelectorAll(
          "input[type=checkbox]:checked"
        );
        let error = 0;
        
        setTimeout(() => {

          post.title = title.querySelector("input").value;
          post.content = content.querySelector("textarea").value;
          post.postId = document.getElementById("postId").value;
          post.tags = [];

          if ( !post.title || post.title == "" ) {
  
            title.querySelector("span.error").innerHTML = "Escreva um título para o conteúdo";
            error++;
  
          }
  
          if ( !post.content || post.content == "" ) {
  
            content.querySelector("span.error").innerHTML = "Escreva o conteúdo da postagem";
            error++;
  
          }

          if (select_tags.length == 0) {
            document.querySelector("span#tags").innerHTML =
              "Seleciona ao menos uma tag";
            error++;
          }

          if ( error != 0 ) {

            setTimeout(()=>{
              title.querySelector("span.error").innerHTML = "";
              content.querySelector("span.error").innerHTML = "";
              document.querySelector("span#tags").innerHTML = "";
            },3000);

            return false;

          }

          for (let i = 0; i < select_tags.length; i++) {
            post.tags.push(select_tags[i].value);
          }

          post.tags = post.tags.toString();
          
          const ajax = new XMLHttpRequest();

          ajax.onload = () => {
            if ( ajax.status == 202 ) {
              createModal(true,"Postagem corrigida. Ela será analisada novamente por um administrador, acompanhe em minhas postagens.","{include_path}/common/publishs");
            } else {
              createModal(false,"Erro: Não foi possível corrigir sua postagem","{include_path}/common/publishs");
            }
          };

          ajax.open("POST", "{include_path}/api/post/update", true);
          ajax.send(JSON.stringify(post));
          return false;
          
        },100);
      }
      
    </script>
    <script type="module">
      import {
        ClassicEditor,
        Essentials,
        Bold,
        Italic,
        Heading,
        PasteFromOffice,
      } from "ckeditor5";

      ClassicEditor.create(document.querySelector("#editor"), {
        plugins: [Essentials, Bold, Italic, Heading, PasteFromOffice],
        toolbar: ["heading", "bold", "italic"],
        heading: {
          options: [
            {
              model: "paragraph",
              title: "Parágrafo",
              class: "ck-heading_paragraph",
            },
            {
              model: "heading1",
              view: "h1",
              title: "Título 1",
              class: "ck-heading_heading1",
            },
            {
              model: "heading2",
              view: "h2",
              title: "Título 2",
              class: "ck-heading_heading2",
            },
          ],
        },
      })
        .then(/* ... */)
        .catch(/* ... */);
    </script>
  </body>
</html>
