<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog autismo</title>
  {script_style}
</head>
<body>

  {component_header}

  <main class="container">

    <section>
      <h2 class="title--2">Postagens recentes</h2>

      <section class="column-3">

        <section class="post">
          <header class="post__header">
            <p>
              Título
            </p>
          </header>

          <main class="post__content">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam
            inventore eum cumque incidunt et neque sit quia a distinctio
            corporis atque, excepturi exercitationem sint iusto itaque officiis
            cum debitis dignissimos delectus minus! Natus, at ratione
            dignissimos doloremque minima dolore reiciendis nesciunt dolorem
            totam fugiat aspernatur. Cum obcaecati vitae dolorum, quod repellat
            non ipsum sapiente laboriosam, facere omnis fugiat alias optio
            voluptatibus rem ex iusto pariatur quam asperiores minima voluptate
            quis. Fugiat saepe culpa fuga. Non itaque aut consequuntur aliquid
            debitis, quas repudiandae inventore dolor tempore dolorem eaque
            excepturi officia veniam nam laboriosam asperiores! Optio beatae
            placeat quam illo? Cumque, excepturi?
          </main>

          <footer class="post__footer">
            <p>Autor</p>
          </footer>
        </section>
        <section class="post">
          <header class="post__header">
            <p>
              Título
            </p>
          </header>

          <main class="post__content">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam
            inventore eum cumque incidunt et neque sit quia a distinctio
            corporis atque, excepturi exercitationem sint iusto itaque officiis
            cum debitis dignissimos delectus minus! Natus, at ratione
            dignissimos doloremque minima dolore reiciendis nesciunt dolorem
            totam fugiat aspernatur. Cum obcaecati vitae dolorum, quod repellat
            non ipsum sapiente laboriosam, facere omnis fugiat alias optio
            voluptatibus rem ex iusto pariatur quam asperiores minima voluptate
            quis. Fugiat saepe culpa fuga. Non itaque aut consequuntur aliquid
            debitis, quas repudiandae inventore dolor tempore dolorem eaque
            excepturi officia veniam nam laboriosam asperiores! Optio beatae
            placeat quam illo? Cumque, excepturi?
          </main>

          <footer class="post__footer">
            <p>Autor</p>
          </footer>
        </section>
        <section class="post">
          <header class="post__header">
            <p>
              Título
            </p>
          </header>

          <main class="post__content">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam
            inventore eum cumque incidunt et neque sit quia a distinctio
            corporis atque, excepturi exercitationem sint iusto itaque officiis
            cum debitis dignissimos delectus minus! Natus, at ratione
            dignissimos doloremque minima dolore reiciendis nesciunt dolorem
            totam fugiat aspernatur. Cum obcaecati vitae dolorum, quod repellat
            non ipsum sapiente laboriosam, facere omnis fugiat alias optio
            voluptatibus rem ex iusto pariatur quam asperiores minima voluptate
            quis. Fugiat saepe culpa fuga. Non itaque aut consequuntur aliquid
            debitis, quas repudiandae inventore dolor tempore dolorem eaque
            excepturi officia veniam nam laboriosam asperiores! Optio beatae
            placeat quam illo? Cumque, excepturi?
          </main>

          <footer class="post__footer">
            <p>Autor</p>
          </footer>
        </section>

        {content}
        
      </section>

    </section>
    
  </main>

  {component_footer}
  
</body>
</html>