.form {
    padding: 48px 64px 64px;
    border-radius: 8px;
    width: 100%;
    max-width: 500px;
    border: 1px solid var(--dark-gray);
    display: grid;
    grid-template-columns: 1fr;
    gap: 28px;
}

.form--none {
    height: max-content;
    display: grid;
    grid-template-columns: 1fr;
    gap: 28px;
}

.form--large {
    max-width: 1000px;
}

.form__box {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form__input {
    padding: 12px 8px;
    font-size: 12pt;
    border: 1px solid var(--dark-gray);
    border-radius: 4px;
}

.form__label,.form__error {
    font-weight: bold;
}

.password {
    width: 100%;
    position: relative;
}

.password>input {
    width: 100%;
}

.password>i {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    cursor: pointer;
    color: var(--dark-gray);
}

.file {
    margin: 16px 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.file>input[type='file'] {
    display: none;
}

.file>label {
    display: block;
    padding: 16px;
    background-color: var(--primary);
    color: var(--light);
    border-radius: 4px;
    cursor: pointer;
    text-align: center;

    i {
        margin-right: 16px;
    }
}

.radio__text {
    border: 1px solid var(--dark-gray);
    border-radius: 6px;

    padding: 32px 16px 32px 64px;

    display: flex;
    flex-direction: column;
    gap: 8px;

    position: relative;
}

.radio__text::before {
    width: 16px;
    height: 16px;
    
    content: "";
    display: block;
    
    position: absolute;
    left: 24px;
    top: 50%;
    transform: translateY(-50%);

    border: 2px solid var(--dark-gray);
    border-radius: 100%;
}

.radio__indicator {
    display: none;
}

.radio input[type="radio"]:checked ~ .radio__text {
    border-color: var(--primary);
    color: var(--primary);
}

.radio input[type="radio"]:checked ~ .radio__text::before {
    border-color: var(--primary);
    background-color: var(--primary);
}

.radio input[type="radio"]:checked ~ .radio__text::after {
    width: 10px;
    height: 10px;
    
    content: "";
    display: block;
    
    position: absolute;
    left: 27px;
    top: 50%;
    transform: translateY(-50%);

    border: 2px solid var(--light);
    border-radius: 100%;
}

.radio__text>*:nth-child(1) {
    font-weight: bold;
}

@media ( max-width: 700px ) {
    .form {
        padding: 16px 24px 24px;
    }
}