* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	text-decoration: none;
	line-height: 1.5;
}

:root {
	--primary: #296EB4;
	--dark: #2b2b2b;
	--light: #fff;
	--gray: #e4e4e7;
	--dark-gray: #a1a1aa;
	--error: #fecaca;
	--waiting: #FDE047;
	--error-font: #ef4444;
}

.w-100 {
	width: 100%;
}

html, body {
	height: 100%;
}

body>*:nth-child(2) {
	min-height: 100%;
}

.bg--light {
	background-color: var(--light);
}